.submitButton {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(53,167,110); /* фон кнопки */
    padding: .4em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}


.deleteButton {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(212,75,56); /* фон кнопки */
    padding: .4em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}

.downloadButton {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(53,167,110); /* фон кнопки */
    padding: .4em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}

