.submitButton {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(53,167,110); /* фон кнопки */
    padding: .4em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}


.deleteButton {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(212,75,56); /* фон кнопки */
    padding: .4em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}

.downloadButton {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(53,167,110); /* фон кнопки */
    padding: .4em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}




*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgba( 71, 147, 227, 1);
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgba( 71, 147, 227, 1);
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table-add {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 50%;
    max-width: 50%;
    white-space: nowrap;
    background-color: white;
    text-align: center;
    margin: auto;
}

.fl-table-add td, .fl-table-add th {
    text-align: center;
    padding: 8px;
}

.fl-table-add td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table-add thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table-add thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table-add tr:nth-child(even) {
    background: #F8F8F8;
}



.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    margin: auto;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table{
        display: block;
        width: 100%;
    }

    .fl-table-add{
        display: block;
        width: 100%;
    }

    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .fl-table thead, .fl-table tbody, .fl-table thead th, .fl-table-add thead, .fl-table-add tbody, .fl-table-add thead th  {
        display: block;
    }
    .fl-table thead th:last-child, .fl-table-add thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead, .fl-table-add thead{
        float: left;
    }
    .fl-table tbody, .fl-table-add tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th, .fl-table-add td, .fl-table-add th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th, .fl-table-add {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr, .fl-table-add tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd), .fl-table-add tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even), .fl-table-add tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd), .fl-table-add tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even), .fl-table-add tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td, .fl-table-add tbody td {
        display: block;
        text-align: center;
    }
}

