<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Wg GUI</title>
    <link rel="stylesheet" th:href="styles.css">
</head>
<link rel="stylesheet" href="/static/styles.css">
    <body>

        <h2>Add new user</h2>
        <div class="table-wrapper">
            <table class="fl-table2">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>AllowedIPs</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <form action="index" method="post">
                            <th><input type="text" name="name" placeholder="name"/></th>
                            <th><input type="text" name="allowedIPs" placeholder="IPs"/></th>
                            <th><button class="submitButton">Submit</button></th>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>


        <h2>Wireguard Users</h2>
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Email</th>
                    <th>AllowedIPs</th>
                    <th>Last Handshake</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${users}">
                    <td th:utext="${user.username}">...</td>
                    <td th:utext="${user.userEmail}">...</td>
                    <td th:utext="${user.allowedIPs}">...</td>
                    <td th:utext="${user.lastHandShake}">...</td>
                    <td>
                        <form th:action="@{'index/download/{username}'(username=${user.username})}" th:method="get">
                            <button type="submit" class="downloadButton">Download</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{'index/delete'(username=${user.username})}" th:method="post">
                            <button type="submit" class="deleteButton">Delete</button>
                        </form>
                    </td>
                </tr>
                <tbody>
            </table>
        </div>

    </body>
</html>
